.home{
    /* background: #FFFBD4; */
}
.home .head1{
    color: #3b2409;
    text-align: center;
}
.info_base{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 50px;

}
.info_base .info_content{
    border: 1px solid #3b2409;
    box-shadow: 3px 6px 6px 1px #3b2409;

}